<a href="https://colab.research.google.com/github/EmilianoLS/Data-Science/blob/main/instacart_cluster_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import json
import zipfile

In [ ]:
#!pip install -q kaggle
#!pip install -q kaggle-cli
#!mkdir -p ~/.kaggle
#!cp "/content/drive/MyDrive/.kaggle/kaggle.json" ~/.kaggle/
#!cat ~/.kaggle/kaggle.json 
#!chmod 600 ~/.kaggle/kaggle.json
# For competition datasets
#!kaggle competitions download -c instacart-market-basket-analysis -p '/content/drive/MyDrive/Colab Notebooks/datasets'

In [19]:
df_list = []
file_list = ['aisles.csv.zip', 'departments.csv.zip', 
             'order_products__train.csv.zip','order_products__prior.csv.zip',
             'orders.csv.zip','products.csv.zip']

for file_name in file_list:
  zf = zipfile.ZipFile('/content/drive/MyDrive/Colab Notebooks/datasets/' + file_name) 
  df_list.append(pd.read_csv(zf.open(file_name[:-4])))


aisles = df_list[0]
departments = df_list[1]
order_products_train = df_list[2]
order_products_prior = df_list[3]
orders = df_list[4]
products = df_list[5]

In [23]:
orders[orders['eval_set'] == 'train']

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
10        1187899        1  ...                 8                    14.0
25        1492625        2  ...                11                    30.0
49        2196797        5  ...                11                     6.0
74         525192        7  ...                11                     6.0
78         880375        8  ...                14                    10.0
...           ...      ...  ...               ...                     ...
3420838   2585586   206199  ...                16                    30.0
3420862    943915   206200  ...                19                     6.0
3420924   2371631   206203  ...                19                    30.0
3420933   1716008   206205  ...                16                    10.0
3421082    272231   206209  ...                14                    30.0

[131209 rows x 7 columns]